@import "tailwindcss";

@theme {
    /* 1. FONT WEIGHT */
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* 2. FONT SIZE */
    --text-10: 10px;
    --text-11: 11px;
    --text-12: 12px;
    --text-13: 13px;
    --text-14: 14px;
    --text-15: 15px;
    --text-16: 16px;
    --text-17: 17px;
    --text-18: 18px;
    --text-20: 20px;
    --text-22: 22px;
    --text-23: 23px;
    --text-24: 24px;
    --text-28: 28px;
    --text-30: 30px;
    --text-36: 36px;

    /* 3. LINE HEIGHT */
    --leading-130: 1.3; /* 130% */
    --leading-140: 1.4; /* 140% */
    --leading-160: 1.6; /* 160% */

    /* 4. LETTER SPACING */
    --tracking-title: -0.03em; /* -3% */
    --tracking-body: -0.02em; /* -2% */
}

@layer {
    /* 
       CAPTION SERIES 
    */
    .typo-caption-10-semibold {
        font-size: var(--text-10);
        line-height: var(--leading-140);
        font-weight: var(--font-weight-semibold);
        letter-spacing: var(--tracking-body);
    }
    .typo-caption-11-reg {
        font-size: var(--text-11);
        line-height: var(--leading-140);
        font-weight: var(--font-weight-regular);
        letter-spacing: var(--tracking-body);
    }
    .typo-caption-12-reg {
        font-size: var(--text-12);
        line-height: var(--leading-140);
        font-weight: var(--font-weight-regular);
        letter-spacing: var(--tracking-title);
    }
    .typo-caption-12-medium {
        font-size: var(--text-12);
        line-height: var(--leading-140);
        font-weight: var(--font-weight-medium);
        letter-spacing: var(--tracking-body);
    }
    .typo-caption-12-semibold {
        font-size: var(--text-12);
        line-height: var(--leading-140);
        font-weight: var(--font-weight-semibold);
        letter-spacing: var(--tracking-body);
    }

    /* 
       BODY SERIES 
    */
    .typo-body-14-reg {
        font-size: var(--text-14);
        line-height: var(--leading-140);
        font-weight: var(--font-weight-regular);
        letter-spacing: var(--tracking-body);
    }
    .typo-body-14-reg-160 {
        font-size: var(--text-14);
        line-height: var(--leading-160);
        font-weight: var(--font-weight-regular);
        letter-spacing: var(--tracking-body);
    }
    .typo-body-14-medium {
        font-size: var(--text-14);
        line-height: var(--leading-140);
        font-weight: var(--font-weight-medium);
        letter-spacing: var(--tracking-body);
    }
    .typo-body-14-semibold {
        font-size: var(--text-14);
        line-height: var(--leading-140);
        font-weight: var(--font-weight-semibold);
        letter-spacing: var(--tracking-body);
    }
    .typo-body-15-reg-160 {
        font-size: var(--text-15);
        line-height: var(--leading-160);
        font-weight: var(--font-weight-regular);
        letter-spacing: var(--tracking-body);
    }
    .typo-body-16-reg {
        font-size: var(--text-16);
        line-height: var(--leading-140);
        font-weight: var(--font-weight-regular);
        letter-spacing: var(--tracking-body);
    }
    .typo-body-16-medium {
        font-size: var(--text-16);
        line-height: var(--leading-140);
        font-weight: var(--font-weight-medium);
        letter-spacing: var(--tracking-body);
    }
    .typo-body-16-medium-160 {
        font-size: var(--text-16);
        line-height: var(--leading-160);
        font-weight: var(--font-weight-medium);
        letter-spacing: var(--tracking-body);
    }
    .typo-body-16-semibold {
        font-size: var(--text-16);
        line-height: var(--leading-140);
        font-weight: var(--font-weight-semibold);
        letter-spacing: var(--tracking-body);
    }
    .typo-body-17-reg {
        font-size: var(--text-17);
        line-height: var(--leading-140);
        font-weight: var(--font-weight-regular);
        letter-spacing: var(--tracking-body);
    }
    .typo-body-18-semibold {
        font-size: var(--text-18);
        line-height: var(--leading-140);
        font-weight: var(--font-weight-semibold);
        letter-spacing: var(--tracking-body);
    }
    .typo-body-20-reg {
        font-size: var(--text-20);
        line-height: var(--leading-140);
        font-weight: var(--font-weight-regular);
        letter-spacing: var(--tracking-body);
    }

    /* 
       TITLE SERIES
    */
    .typo-title-18-bold {
        font-size: var(--text-18);
        line-height: var(--leading-140);
        font-weight: var(--font-weight-bold);
        letter-spacing: var(--tracking-title);
    }
    .typo-title-20-semibold {
        font-size: var(--text-20);
        line-height: var(--leading-140);
        font-weight: var(--font-weight-semibold);
        letter-spacing: var(--tracking-title);
    }
    .typo-title-20-bold {
        font-size: var(--text-20);
        line-height: var(--leading-140);
        font-weight: var(--font-weight-bold);
        letter-spacing: var(--tracking-title);
    }
    .typo-title-22-bold {
        font-size: var(--text-22);
        line-height: var(--leading-140);
        font-weight: var(--font-weight-bold);
        letter-spacing: var(--tracking-title);
    }
    .typo-title-23-bold {
        font-size: var(--text-23);
        line-height: var(--leading-140);
        font-weight: var(--font-weight-bold);
        letter-spacing: var(--tracking-title);
    }
    .typo-title-24-semibold {
        font-size: var(--text-24);
        line-height: var(--leading-140);
        font-weight: var(--font-weight-bold);
        letter-spacing: var(--tracking-title);
    }
    .typo-title-28-bold {
        font-size: var(--text-28);
        line-height: var(--leading-140);
        font-weight: var(--font-weight-bold);
        letter-spacing: var(--tracking-title);
    }
    .typo-title-30-bold {
        font-size: var(--text-30);
        line-height: var(--leading-140);
        font-weight: var(--font-weight-bold);
        letter-spacing: var(--tracking-title);
    }
    .typo-title-36-bold {
        font-size: var(--text-36);
        line-height: var(--leading-130);
        font-weight: var(--font-weight-bold);
        letter-spacing: var(--tracking-title);
    }
}
