.git
.gitignore
.github

node_modules
dist
coverage
.nyc_output

*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.*
!.env.example

.DS_Store
.idea
.vscode

*.md

test
**/*.spec.ts
**/*.test.ts

.prettierrc*
