name: CI

on:
    push:
        # 2-2. 모든 브랜치 push 시 트리거되도록 설정
        branches: ["**"]

jobs:
    detect-changes:
        name: Detect Changes
        runs-on: ubuntu-latest
        outputs:
            frontend: ${{ steps.filter.outputs.frontend }}
        steps:
            - uses: actions/checkout@v4
            - uses: dorny/paths-filter@v2
              id: filter
              with:
                  filters: |
                      frontend:
                        - 'frontend/**'

    build_frontend:
        name: Build Frontend
        needs: detect-changes
        if: needs.detect-changes.outputs.frontend == 'true'
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: frontend
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            # 2-3. pnpm 빌드 방식 적용
            - name: Install pnpm
              uses: pnpm/action-setup@v3
              with:
                  version: 8

            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                  node-version: 20
                  cache: "pnpm"
                  # lock 파일이 없으므로 package.json 기준 캐싱
                  cache-dependency-path: frontend/package.json

            - name: Install dependencies
              run: pnpm install

            - name: Lint
              run: pnpm run lint

            - name: Build
              run: pnpm run build
