name: CI

on:
  pull_request:
    branches:
      - dev
      - main
    paths:
      - "backend/**"

  push:
    branches:
      - dev
    paths:
      - "backend/**"

jobs:
  ci:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: backend/api

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: gradle

      - name: Grant execute permission to gradlew
        run: chmod +x ./gradlew

      - name: Build & Test
        run: ./gradlew clean build
